@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Font properties finished */

/* Common style */

.primary-color {
  color: #3A3A3A;
}

.common-btn {
  color: white;
  background-color: #E02C6D;
  padding: 10px 30px;
  border-radius: 40px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

/* Common style finished */

/* Header style started */

header {
  max-width: 1140px;
  margin: auto;
}

/* Nav bar style */


.brand-name {
  font-weight: 700;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 34px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #3A3A3A;
  font-weight: 600;
  font-size: 1rem;
}


/* Nav bar style finished */


/* Banner style started */
.arrow-right {
  margin-left: 10px;
}

.banner {
  display: flex;
  align-items: center;
  gap: 130px;
  margin-top: 30px;
}

.banner-left h1 {
  font-size: 3.25rem;
  margin-bottom: 20px;
}

.banner-left p {
  margin-bottom: 20px;
}

.banner-right {
  background-image: url('../influencer-gear/images/Circle\ design.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px;
}

.banner-right img {
  width: 100%;
}

/* Companies started */

.companies {
  /* display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-items: center;
  align-items: center;
  gap:20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #eeeeee;
  padding: 30px 0px;
  margin-top: 70px;

}

.companies img{
  width:100%;
}



/* Popular collection started */

.popular-collection{
  max-width: 1110px;
  margin:0 auto;
  margin-top:130px;
  
}

.popular-collection-title{
  font-size:1.75rem;
  text-align: center;
  color:#3A3A3A;
  margin-bottom: 50px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
}

.card{
  padding:20px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #b2b2b3;
}
.card>img{
  width:100%;
}

.card>h3{
  font-size:1.75rem;
  font-weight: 500;
  color: #18191F;

}

.card>h4{
  font-size: 1.5rem;
}

.rating{
  display: flex;
  gap:20px;
}

.card>p{
  font-size:1rem;
  font-weight: 700;
  color: #787885;

}

.star>i{
  color:gold;
}

.card>h3, .card>h4, .card>p{
  margin:10px 0px;
}

#more{
  margin-top:30px;
  text-align: right;
}

#more>a{
  color:#E02C6D;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

/* Featured products */

.featured-products{
  max-width: 1140px;
  margin:0 auto;
  display: flex;
  gap:90px;
  margin-top: 100px;
}

#sharp-edge-btn{
  border-radius: 0px;
}

.featured-products-right h1{
  font-size: 2.5rem;
  color:#0A0826;
  font-weight: 700;
  margin-bottom: 20px;
}
.featured-products-right p{
  margin-bottom: 20px;
  color:#6C6C6C;
  font-size: 1rem;
  font-weight: 700;
}


.featured-products-left{
  max-width:400px;
}

/* .featured-products-left img{
  width: 100%;
} */


/* Footer style */
footer{
  background-color: #0A0826;
  padding:50px;
  color:white;
  text-align: center;

}


footer p{
  font-size: 0.8rem;
}


.logos i{
  margin-right:30px;
}


/* Mobile responsive design */

@media screen and (max-width:576px) {

  nav,
  .nav-links {
    flex-direction: column;
    align-items: center;

  }

  .nav-links {
    padding: 0px;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }

  .banner-left h1 {
    font-size: 2rem;
  }

  .companies {
    gap: 20px;
  }

  .card-container{
    grid-template-columns: 1fr;
  }

  .featured-products{
    flex-direction: column-reverse;
    text-align: center;
  }
}